In [1]:
import pandas as pd
import gmaps
import requests

# import API key

from config import g_key

In [2]:
# read the csv to a DataFrame

city_data_df = pd.read_csv('weather_data/cities.csv')

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-05-14 23:10:33,-42.8794,147.3294,62.06,72,40,4.61
1,1,Vaini,TO,2022-05-14 23:14:57,-21.2000,-175.2000,74.19,67,98,16.13
2,2,Kodiak,US,2022-05-14 23:14:58,57.7900,-152.4072,49.51,46,40,13.80
3,3,Chapais,CA,2022-05-14 23:14:58,49.7834,-74.8492,73.69,60,100,8.19
4,4,Mataura,NZ,2022-05-14 23:14:59,-46.1927,168.8643,48.47,75,63,3.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### gmaps configure - commented out as it only needs to be done once

In [8]:
# configure gmaps to use your Google API key

# gmaps.configure(api_key=g_key)

# create heatmap for Max Temp

[gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html)

In [5]:
'''
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig
'''

'\n# 1. Assign the locations to an array of latitude and longitude pairs.\nlocations = [latitude, longitude]\n\n# 2. Assign the weights variable to some values.\ntemperatures = # an array of length equal to the locations array length\n\n# 3. Assign the figure variable to the gmaps.figure() attribute.\nfig = gmaps.figure()\n\n# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.\nheatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)\n\n# 5. Add the heatmap layer.\nfig.add_layer(heatmap_layer)\n\n# 6. Call the figure to plot the data.\nfig\n'

In [6]:
'''
# Get the maximum temperature 
max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    temps.append(max(temp, 0))
    
# Get the maximum temperature with a list comprehension
[max(temp, 0) for temp in max_temp]
'''

'\n# Get the maximum temperature \nmax_temp = city_data_df["Max Temp"]\n\ntemps = []\n\nfor temp in max_temp:\n    temps.append(max(temp, 0))\n    \n# Get the maximum temperature with a list comprehension\n[max(temp, 0) for temp in max_temp]\n'

In [11]:
# get lat & lng
locations = city_data_df[['Lat', 'Lng']]

# get the max temp
max_temp = city_data_df['Max Temp']

# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# add the heatmap layer
fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## tweak the dissipation when zooming on gmaps 
### dissipation: loss of energy, especially by its conversion into heat
> max_intensity  
> point_radius

In [10]:
# gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# create heatmap for Humidity

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# create heatmap for Cloudiness

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# create heatmap for Wind Speed

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# ask the user to enter a max and min temperature

min_temp = float(input("What is the minimum temperature you would like for trip? "))

max_temp = float(input("What is the maximum temperature you would like for trip? "))

What is the minimum temperature you would like for trip?75
What is the maximum temperature you would like for trip?90

In [17]:
# filter the dataset

preferred_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                               (city_data_df['Max Temp'] >= min_temp)]

preferred_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Khirkiya,IN,2022-05-14 23:14:59,22.1674,76.8605,89.87,33,25,7.58
8,8,Rikitea,PF,2022-05-14 23:15:00,-23.1203,-134.9692,76.26,71,2,20.60
10,10,Uruacu,BR,2022-05-14 23:15:01,-14.5247,-49.1408,75.42,47,25,1.63
22,22,Kapaa,US,2022-05-14 23:15:06,22.0752,-159.3190,82.72,75,40,13.80
25,25,Albany,US,2022-05-14 23:11:20,42.6001,-73.9662,76.64,65,98,1.99

In [23]:
preferred_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [24]:
# copy current DataFrame to make new one for hotels

hotel_df = preferred_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()

# add new column

hotel_df['Hotel Name'] = ""

hotel_df.head()

        City Country  Max Temp      Lat       Lng Hotel Name
6   Khirkiya      IN     89.87  22.1674   76.8605
8    Rikitea      PF     76.26 -23.1203 -134.9692
10    Uruacu      BR     75.42 -14.5247  -49.1408
22     Kapaa      US     82.72  22.0752 -159.3190
25    Albany      US     76.64  42.6001  -73.9662

# Nearby Search

[nearby search requests](https://developers.google.com/maps/documentation/places/web-service/search-nearby)

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Khirkiya,IN,89.87,22.1674,76.8605,Sanjay Industries
8,Rikitea,PF,76.26,-23.1203,-134.9692,People ThankYou
10,Uruacu,BR,75.42,-14.5247,-49.1408,Cassius Hotel
22,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Albany,US,76.64,42.6001,-73.9662,
26,Butaritari,KI,80.94,3.0707,172.7902,Isles Sunset Lodge
27,Taoudenni,ML,85.10,22.6783,-3.9836,
28,Alofi,NU,76.15,-19.0595,-169.9187,Taloa Heights
33,Santa Marta,CO,85.89,11.2408,-74.1990,Hotel La Ballena Azul
34,Serra Branca,BR,78.26,-6.5333,-38.2667,

## add markers

[gmaps documentation for adding markers](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#markers-and-symbols)

In [31]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## add info box for markers

In [32]:
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>

</dl>
"""

In [33]:
# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))