## Deliverable 3. Create a Travel Itinerary Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import numpy as np
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Stanislav,UA,66.87,overcast clouds,46.5691,32.1478,Hostynnyy Dvir
1,8,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,24,Shingu,JP,59.70,overcast clouds,33.7333,135.9833,Shingu UI Hotel
3,28,Byron Bay,AU,67.71,light rain,-28.6500,153.6167,Backpackers Inn
4,40,Yangjiang,CN,73.47,broken clouds,21.8500,111.9667,HUALUXE Yangjiang City Center

In [10]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
City: {City}
Country: {Country}
Current Description: {Current Description}
Max Temperature: {Max Temp} °F

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, vacation_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'La Palma']
vacation_end = vacation_df.loc[vacation_df['City'] == 'La Palma']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Saint George']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Winnemucca'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Laguna']

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3 ['Lat'].to_numpy()[0], vacation_stop3 ['Lng'].to_numpy()[0]

In [14]:
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(33.8464, -118.0467)
(33.8464, -118.0467)
(37.1041, -113.5841)
(40.973, -117.7357)
(38.421, -121.4238)

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure_layout = {
    'width': '600px',
    'height': '325px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)

fig

Figure(layout=FigureLayout(border='1px solid black', height='325px', margin='0 auto 0 auto', padding='1px', wi…

In [25]:
data = [('La Palma', 'US', start),
        ('Saint George', 'US', stop1),
        ('Winnemucca', 'US', stop2),
        ('Laguna', 'US', stop3)]

itin_df = pd.DataFrame(data, columns=['City', 'Country', 'Coordinates'])

itin_df

           City Country           Coordinates
0      La Palma      US  (33.8464, -118.0467)
1  Saint George      US  (37.1041, -113.5841)
2    Winnemucca      US   (40.973, -117.7357)
3        Laguna      US   (38.421, -121.4238)

In [26]:
itin_df[['Lat', 'Lng']] = pd.DataFrame(itin_df['Coordinates'].tolist(), index=itin_df.index)

itin_df

           City Country           Coordinates      Lat       Lng
0      La Palma      US  (33.8464, -118.0467)  33.8464 -118.0467
1  Saint George      US  (37.1041, -113.5841)  37.1041 -113.5841
2    Winnemucca      US   (40.973, -117.7357)  40.9730 -117.7357
3        Laguna      US   (38.421, -121.4238)  38.4210 -121.4238

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
#itinerary_df = pd.concat([start, stop1, stop2, stop3],ignore_index=True)
#itinerary_df

In [40]:
start_city = vacation_df.loc[vacation_df['City'] == 'La Palma']
second_city = vacation_df.loc[vacation_df['City'] == 'Saint George']
third_city = vacation_df.loc[vacation_df['City'] == 'Winnemucca']
fourth_city = vacation_df.loc[vacation_df['City'] == 'Laguna']

In [41]:
itinerary_df = pd.concat([start_city, second_city, third_city, fourth_city],ignore_index=True)

itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,61,La Palma,US,62.78,overcast clouds,33.8464,-118.0467,La Quinta Inn & Suites by Wyndham Buena Park
1,198,Saint George,US,70.79,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
2,410,Winnemucca,US,55.62,few clouds,40.9730,-117.7357,Winners Inn Casino
3,328,Laguna,US,59.02,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [43]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
Hotel: {Hotel Name}
City: {City}
Country: {Country}
Current Weather: {Current Description}
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itin_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, itin_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))